<footer class="footer">
	<div class="container">
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a href= "{{ site.agency }}" target="_blank">cityu school of creative media</a></li>
				<li><a href="{{ site.portfolio }}" target="_blank">portfolio by RAY LC</a></li>
				<li><a href="{{ site.scholar }}" target="_blank">google scholar</a></li>
				<li><a href="{{ site.rednote }}" target="_blank">rednote</a></li>
				<li><a href="{{ site.instagram }}" target="_blank">instagram</a></li>
			</ul>
		</section>
		<section class="contact">
			<h2>Pages</h2>
<!-- when updating this, need to increment the numbers -->
<!-- below by one when new pages are added to pubs. -->
			<ul>
				<li><a href="{{ site.categories.pages[5].url }}">publications</a></li>
				<li><a href="{{ site.categories.pages[6].url }}">people</a></li>
				<li><a href="{{ site.categories.pages[8].url }}">press</a></li>
				<li><a href="{{ site.categories.pages[10].url }}">opportunities</a></li>
				<li><a href="{{ site.url }}">projects</a></li>
			</ul>
		</section>
	</div>
</footer>