<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Pages</h2>
			<ul>
				<li><a href="{{ site.categories.pages[0].url }}">publications</a></li>
				<li><a href="{{ site.categories.pages[1].url }}">people</a></li>
				<li><a href="{{ site.url }}">projects</a></li>
			</ul>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a href="{{ site.agency }}">school of creative media</a></li>
				<li><a href="{{ site.portfolio }}" target="_blank">portfolio by RAY LC</a></li>
				<li><a href="{{ site.instagram }}" target="_blank">instagram</a></li>
				<li><a href="{{ site.facebook }}" target="_blank">facebook</a></li>
			</ul>
		</section>
	</div>
</footer>