<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
				<div></div>
		<section class="pages">
			<div class="container-pubs">
				<div></div>
				<div class="left"></div>
				<div class="right">
<!-- when adding pages, need to update this to increment -->
<!-- main pubs page by one, and edit the footer.html file. -->
					<h3>
<a href="{{ site.categories.pages[5].url }}"><u>2025</u></a>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<a href="{{ site.categories.pages[4].url }}"><u>2024</u></a>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<a href="{{ site.categories.pages[3].url }}"><u>2023</u></a>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<a href="{{ site.categories.pages[2].url }}"><u>2022</u></a>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<a href="{{ site.categories.pages[1].url }}"><u>2021</u></a>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<a href="{{ site.categories.pages[0].url }}"><u>2020</u></a>
					</h3>
				</div>

				{% for pubs in page.pubs %}
				<div></div>
				<div class="left">
					<img src="{{ pubs.image }}">
				</div>
				<div class="right">
					<h3><a href="{{ pubs.url }}">{{ pubs.title }}</a></h3>
					<div class="pages-pubs">
						<span class="h2">{{ pubs.ref }}
						{% if pubs.video != "" %}
						<a href="{{ pubs.video }}">[video]</a>
						{% endif %}
						{% if pubs.web != "" %}
						<a href="{{ pubs.web }}">[website]</a>
						{% endif %}
						</span>
						{{ pubs.year }}
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>