<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="pages">
			<div class="container-pubs">
				{% for shorts in page.shorts %}
				<div></div>
				<div class="left">
					<img src="{{ shorts.image }}">
				</div>
				<div class="right">
					<h3><a href="{{ shorts.url }}">{{ shorts.title }}</a></h3>
					<div class="pages-pubs">
						<span class="h2">{{ shorts.ref }}
						{% if shorts.video != "" %}
						<a href="{{ shorts.video }}">[video]</a>
						{% endif %}
						{% if shorts.web != "" %}
						<a href="{{ shorts.web }}">[website]</a>
						{% endif %}
						</span>
						{{ shorts.year }}
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>